<!DOCTYPE html>
<html>
  <head>
    <title>Chately</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <style type="text/css">
    body {
      background-color: #2a2a2a;
      font-family: monospace;
      font-size: 16px;
      color: #fff;
    }
    span.announcement {
      font-family: monospace;
      font-style: italic;
      color: #1a853a;
    }
  </style>
  <body>
    <h1>🚀 Redis Streams & WebSockets Client</h1>
    <form name="chat-info" id="chat-info" action="#">
      inbox_hash:
      <input type="text" name="inbox" value="27-1" autocomplete="off" />
      <button>Connect</button>
    </form>
    <div id="chat-info">connected users: <span id="user-list"></span></div>
    <div id="connection-output"></div>
    <ul id="messages" style="height: 60vh; overflow: scroll"></ul>
    <form id="txt" action="#" style="height: 20vh; color: #fff">
      <input type="text" id="messageText" autocomplete="off" />
      <button
        style="background-color: white; border: 1px black; font-size: large"
      >
        Send
      </button>
    </form>

    <script>
      // User Info
      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NTg1NDg5NzEsInN1YiI6InsndXNlcm5hbWUnOiAnYWRtaW5AY2hhdGVseS5pbycsICd1c2VyX2lkJzogMjd9In0.KYVujssCvJWj0y8WVN9L_a1kTsimqql23Vca880UqTE";
      // var url = window.location.pathname;
      // var inbox_hash = url.substring(url.lastIndexOf("/") + 1);
      // console.log(id);
      // get invox hash from url

      let ws = null;
      // Display logging information in the document.
      function log(s) {
        let output = document.getElementById("connection-output");
        output.innerHTML = s;

        // Also log information on the javascript console

        console.log(s);
      }
      function ws_connect(e) {
        e.preventDefault();
        let messages = document.getElementById("messages");
        messages.innerHTML = "";
        if (ws != null && ws.readyState == 1) {
          ws.close();
        }

        let chat_info = new URLSearchParams(
          new FormData(document.getElementById("chat-info"))
        ).toString();

        console.log(chat_info);
        let ws_protocol = "wss://";
        if (window.location.protocol == "http:") {
          ws_protocol = "ws://";
        }
        ws = new WebSocket(
          ws_protocol +
            window.location.host +
            "/ws?" +
            chat_info +
            "&token=" +
            token
        );

        // Listen for the connection open event then call the sendMessage function
        ws.onopen = function (e) {
          log("Connected");
        };

        // Listen for the close connection event
        ws.onclose = function (e) {
          log("Disconnected " + e.reason);
        };

        // Listen for connection errors
        ws.onerror = function (e) {
          log("Error " + e.reason);
        };

        ws.onmessage = function (e) {
          let messages = document.getElementById("messages");
          let message = document.createElement("li");
          let data = JSON.parse(e.data);
          let message_content = null;

          // if data sent is a text
          if (data["type"] == "txt") {
            message_content = document.createElement("span");
            message_content.appendChild(
              document.createTextNode(data["uname"] + ": " + data["msg"])
            );
            message_content.setAttribute("class", "txt");
          }

          // if data sent is an announcement
          if (data["type"] == "announcement") {
            message_content = document.createElement("span");
            message_content.appendChild(document.createTextNode(data["msg"]));
            message_content.setAttribute("class", "announcement");
            let user_list = document.getElementById("user-list");
            user_list.innerHTML = data["users"];
          }
          message.appendChild(message_content);
          messages.appendChild(message);
          messages.scrollTop = messages.scrollHeight;
        };
      }

      function sendMessage(e) {
        let input = document.getElementById("messageText");
        let msg = input.value.trim();

        if (ws != null && msg.length) {
          if (ws.readyState == 3) {
            ws_connect(e);
            log("Reconnect");
          }

          if (ws.readyState == 1) {
            let data = { msg: msg };
            ws.send(JSON.stringify(data));
            input.value = "";
            log("Message sent");
          }
        }
        if (ws == null && msg.length) {
          log("Connection to inbox is required");
          console.log("Connection to inbox is required");
        }
        if (!msg.length) {
          log("Empty message");
        }
        e.preventDefault();
      }
      const chat_info = document.getElementById("chat-info");
      const msg = document.getElementById("txt");
      chat_info.addEventListener("submit", ws_connect);
      msg.addEventListener("submit", sendMessage);
    </script>
  </body>
</html>
